/* Add these styles to your existing CSS or in a new file */


.Band {
    width: 100%;
    height: auto;
}
.section {
    padding: 50px;
    text-align: center;
}

.ancient {
    background-color: #cddeea;
    color: #FFF;
}

.medieval {
    background-color: #91bbd6;
    color: #FFF;
}

.renaissance {
    background-color: #5598c2;
    color: #FFF;
}

.modern {
    background-color: #297fb4;
    color: #FFF;
}

.section-texte {
    color: black;
    margin-top: 50px;
    margin-bottom: 50px;
}

.img-histoire {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.img-histoire img {
    max-width: 50%; /* Adjust as needed */
    height: auto;
    margin-right: 20px; /* Adjust as needed */
}

.section-texte p {
text-align: justify;
}

