/*  Style général   */
* {
    margin: 0;
    padding: 0;
}

a{   text-decoration: none;}

/* iframe{   width:100%;} */



/*  polices  */
@font-face {
    font-family: quattro;
    src: url(fonts/QuattrocentoSans-Bold.ttf);
}
@font-face {
  font-family: kanit;
  src: url(fonts/Kanit-Bold.ttf);
}
@font-face {
  font-family: martel;
  src: url(fonts/MartelSans-Regular.ttf);
}
/*  Titres, p, ul  */
h1{    font-family: quattro;}
h1, h2, h3{   margin: 2rem 0;}
a, h2, h3, h4, h5, h6{     font-family: kanit; }
h1, h2, h3, h4, h5, h6, a{
    color: #0A6DAA;
    text-align:center;
}

a:hover{color:orange}
p{
    font-family: martel;
    font-size: 15px;
    text-align: justify;
}
ul{    list-style: none;}





/*  Header  */
header{
    background-color: #0A6DAA;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
}
#blason {
    width: 150px;
    position: absolute;
}
header section{             /*      blason et h1.titre "ville de marseille"      */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height:99px;
}

.titre {    flex-grow: 1;}       /*   centre le h1 "ville de marseille"      */

.titre h1{
    color: whitesmoke;
    margin: 2rem 0;
}

/*      Body    */

.body{
    background-color: whitesmoke;
}

main{
    width:80%;
    margin:auto;
}

/*  Images  */
figure{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
figure img {        /*      Pour les bandeaux des pages de bruno     */
    height: auto;
    width: 100%;
    box-shadow:  20px 20px 60px #686767;
}

img.standard{
    width:50vw;
    margin: 0 auto 2rem;

}

img.mini{
    width:60%;
    height: auto;
}




img.standard, img.mini{
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
                 -20px -20px 60px #ffffff;
}

@media screen and (max-device-width:768px) {
    img.standard{
        width:80vw;
        margin: 2rem auto;
    }
    img.mini{
        width:80vw;
    }
    
}