/*Style général*/
* {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
iframe{
    width:100%;
}
/*police*/
@font-face {
    font-family: quattro;
    src: url(fonts/QuattrocentoSans-Bold.ttf);
}
@font-face {
  font-family: kanit;
  src: url(fonts/Kanit-Bold.ttf);
}
@font-face {
  font-family: martel;
  src: url(fonts/MartelSans-Regular.ttf);
}

h1{
    font-family: quattro;
    color: #0A6DAA;
    font-size: 75px;
}

h2, h3, h4, h5, h6{
    font-family: kanit;
    color: #0A6DAA;
}

h2{
    font-size: 35px;
}
p{
    font-family: martel;
    font-size: 15px;
}

/*Body*/

.body{
    background-color: white;
}


img.standard{
    width:500px;
    margin:auto;
}
img.mini{
    width:250px;
    margin:auto;
}