/*Style général*/
* {
    margin: 0;
    padding: 0;
}

/*police*/

/*Body*/

.body{
    background-color: white;

}

h1{
    color: #0A6DAA;
    font-size: 75px;
}
h2{
    font-size: 35px;
}
p{
    font-size: 15px;

}