.rando li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: 2rem auto;
    padding-top: 3rem;
    border-top: 2px solid #0A6DAA;
}
.rando figure{
    display: flex;
}
.rando figcaption{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20vw;
}
.rando a{
    margin-bottom: 1rem;
    width: fit-content;
}

figure a{
    transition: transform 0.3s ease-in-out;     /*      Animation des photos de rando : durée et fondu   */
}

figure a:hover{
    transform: scale(1.05);                     /*      Animation des photos de rando  : agrandissement */
}

@media screen and (max-device-width:768px) {

    .rando figure{
        flex-direction: column;
 
    }

    .rando figcaption{
        width: auto;
        margin-right: 0;
    }

    .rando figcaption > *{
        margin: 1rem 0;
    }
    
}